{% include base_path %}

{% assign author = site.author %}
<div itemscope itemtype="http://schema.org/Person">
  <div class="author__avatar">
    <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" fetchpriority="high">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    <p class="author__bio">{{ author.bio }}</p>
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse" type="button" aria-expanded="false">Follow</button>
    <ul class="author__urls social-icons">
      <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>{{ author.location }}</li>
      <li><a href="{{ author.cv }}"><i class="fas fa-fw fa-file-pdf icon-pad-right" aria-hidden="true"></i>CV</a></li>
      <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
      <li><a href="{{ author.scholar }}"><i class="fas fa-fw fa-graduation-cap icon-pad-right" aria-hidden="true"></i>Google Scholar</a></li>
      <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
    </ul>
  </div>
</div>
